*.iml
.gradle
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
github.properties

# jvm-okhttp/api.mustache is the only file we want to keep
.openapi-generator/templates/kotlin-client/*
!.openapi-generator/templates/kotlin-client/libraries
!.openapi-generator/templates/kotlin-client/data_class.mustache

local.properties
