{
    "swagger": "2.0",
    "info": {
        "title": "Immutable X API",
        "contact": {
            "name": "Immutable API Support",
            "email": "support@immutable.com"
        },
        "version": "0.1"
    },
    "schemes": [ "https" ],
    "host": "api.x.immutable.com",
    "basePath": "/",
    "paths": {
        "/v1/applications": {
            "get": {
                "operationId": "getApplications",
                "description": "Get a list of applications",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "applications"
                ],
                "summary": "Get a list of applications",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListApplicationsResponse"
                        }
                    }
                }
            }
        },
        "/v1/applications/{id}": {
            "get": {
                "operationId": "getApplication",
                "description": "Get details of an application with the given ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "applications"
                ],
                "summary": "Get details of an application with the given ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Application ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    }
                }
            }
        },
        "/v1/assets": {
            "get": {
                "operationId": "getAssets",
                "description": "Get a list of assets",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "assets"
                ],
                "summary": "Get a list of assets",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "updated_at",
                            "name"
                        ],
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Ethereum address of the user who owns these assets",
                        "name": "user",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Status of these assets",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Name of the asset to search",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "JSON-encoded metadata filters for these asset",
                        "name": "metadata",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Set flag to true to fetch an array of sell order details with accepted status associated with the asset",
                        "name": "sell_orders",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Set flag to true to fetch an array of buy order details  with accepted status associated with the asset",
                        "name": "buy_orders",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Set flag to include fees associated with the asset",
                        "name": "include_fees",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Collection contract address",
                        "name": "collection",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum timestamp for when these assets were last updated",
                        "name": "updated_min_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Maximum timestamp for when these assets were last updated",
                        "name": "updated_max_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma separated string of fee percentages that are to be paired with auxiliary_fee_recipients",
                        "name": "auxiliary_fee_percentages",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma separated string of fee recipients that are to be paired with auxiliary_fee_percentages",
                        "name": "auxiliary_fee_recipients",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListAssetsResponse"
                        }
                    }
                }
            }
        },
        "/v1/assets/{token_address}/{token_id}": {
            "get": {
                "operationId": "getAsset",
                "description": "Get details of an asset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "assets"
                ],
                "summary": "Get details of an asset",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Address of the ERC721 contract",
                        "name": "token_address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Either ERC721 token ID or internal IMX ID",
                        "name": "token_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Set flag to include fees associated with the asset",
                        "name": "include_fees",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Asset"
                        }
                    }
                }
            }
        },
        "/v1/balances/{owner}": {
            "get": {
                "operationId": "getBalance",
                "description": "Fetches the WEI balances of the user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "balances"
                ],
                "summary": "Fetches the WEI balances of the user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address of the owner/user",
                        "name": "owner",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetBalanceResponse"
                        }
                    }
                }
            }
        },
        "/v1/claims/{etherKey}/{tokenAddress}": {
            "get": {
                "operationId": "getTLV",
                "description": "Get TLV information for a user for a token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "tlvs"
                ],
                "summary": "Get TLV information for a user for a token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User's wallet address",
                        "name": "etherKey",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Token address",
                        "name": "tokenAddress",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetTLVsResponse"
                        }
                    }
                }
            }
        },
        "/v1/collections": {
            "get": {
                "operationId": "getCollections",
                "description": "Get a list of collections",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collections"
                ],
                "summary": "Get a list of collections",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query",
                        "default": 20
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query",
                        "default": null
                    },
                    {
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query",
                        "default": null
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query",
                        "default": null
                    },
                    {
                        "type": "string",
                        "description": "List of collections not to be displayed, separated by commas",
                        "name": "blacklist",
                        "in": "query",
                        "default": null
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListCollectionsResponse"
                        }
                    }
                }
            },
            "post": {
                "operationId": "createCollection",
                "description": "Create collection",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collections"
                ],
                "summary": "Create collection",
                "parameters": [
                    {
                        "description": "create a collection",
                        "name": "CreateCollection",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateCollectionRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Collection"
                        },
                        "headers": {
                            "Collection_Limit": {
                                "type": "string",
                                "description": "The collection limit available to the project for each four-week window."
                            },
                            "Collection_Limit_Reset": {
                                "type": "string",
                                "description": "The expiry date of the current four-week window."
                            },
                            "Collection_Remaining": {
                                "type": "string",
                                "description": "The amount of collections remaining for current four-week window."
                            }
                        }
                    }
                }
            }
        },
        "/v1/collections/{address}": {
            "get": {
                "operationId": "getCollection",
                "description": "Get details of a collection at the given address",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collections"
                ],
                "summary": "Get details of a collection at the given address",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Collection contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Collection"
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateCollection",
                "description": "Update collection",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collections"
                ],
                "summary": "Update collection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Collection contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "update a collection",
                        "name": "UpdateCollectionRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCollectionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Collection"
                        }
                    }
                }
            }
        },
        "/v1/collections/{address}/filters": {
            "get": {
                "operationId": "getCollectionFilters",
                "description": "Get a list of collection filters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collections"
                ],
                "summary": "Get a list of collection filters",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Collection contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Next page token",
                        "name": "next_page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CollectionFilter"
                        }
                    }
                }
            }
        },
        "/v1/collections/{address}/metadata-schema": {
            "get": {
                "operationId": "getMetadataSchema",
                "description": "Get collection metadata schema",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collections"
                ],
                "summary": "Get collection metadata schema",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Collection contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/definitions/MetadataSchemaProperty"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "addMetadataSchema",
                "description": "Add metadata schema to collection",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collections"
                ],
                "summary": "Add metadata schema to collection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Collection contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "add metadata schema to a collection",
                        "name": "AddMetadataSchemaToCollectionRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddMetadataSchemaToCollectionRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.SuccessResponse"
                        }
                    }
                }
            }
        },
        "/v1/collections/{address}/metadata-schema/{name}": {
            "patch": {
                "operationId": "updateMetadataSchema",
                "description": "Update metadata schema by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collections",
                    "metadata"
                ],
                "summary": "Update metadata schema by name",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Collection contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Metadata schema name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "update metadata schema",
                        "name": "MetadataSchemaRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MetadataSchemaRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.SuccessResponse"
                        }
                    }
                }
            }
        },
        "/v1/deposits": {
            "get": {
                "operationId": "getDeposits",
                "description": "Get a list of deposits",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deposits"
                ],
                "summary": "Get a list of deposits",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Ethereum address of the user who submitted this deposit",
                        "name": "user",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Status of this deposit",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum timestamp for this deposit",
                        "name": "min_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Maximum timestamp for this deposit",
                        "name": "max_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token type of the deposited asset",
                        "name": "token_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ERC721 Token ID of the minted asset",
                        "name": "token_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Internal IMX ID of the minted asset",
                        "name": "asset_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token address of the deposited asset",
                        "name": "token_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token name of the deposited asset",
                        "name": "token_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Min quantity for the deposited asset",
                        "name": "min_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max quantity for the deposited asset",
                        "name": "max_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "JSON-encoded metadata filters for the deposited asset",
                        "name": "metadata",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListDepositsResponse"
                        }
                    }
                }
            }
        },
        "/v1/deposits/{id}": {
            "get": {
                "operationId": "getDeposit",
                "description": "Get details of a deposit with the given ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deposits"
                ],
                "summary": "Get details of a deposit with the given ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Deposit ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Deposit"
                        }
                    }
                }
            }
        },
        "/v1/mintable-token/{id}": {
            "get": {
                "operationId": "getMintableToken",
                "description": "Get details of a mintable token with the given IMX token ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mints"
                ],
                "summary": "Get details of a mintable token with the given IMX token ID",
                "deprecated": true,
                "parameters": [
                    {
                        "type": "string",
                        "description": "IMX ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MintableTokenDetails"
                        }
                    }
                }
            }
        },
        "/v1/mintable-token/{token_address}/{token_id}": {
            "get": {
                "operationId": "getMintableToken2",
                "description": "Get details of a mintable token with the given token address and token ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mints"
                ],
                "summary": "Get details of a mintable token with the given token address and token ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Address of the ERC721 contract",
                        "name": "token_address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ERC721 token ID",
                        "name": "token_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MintableTokenDetails"
                        }
                    }
                }
            }
        },
        "/v1/mints": {
            "get": {
                "operationId": "getMints",
                "description": "Get a list of mints",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mints"
                ],
                "summary": "Get a list of mints",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Ethereum address of the user who submitted this mint",
                        "name": "user",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Status of this mint",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum timestamp for this mint",
                        "name": "min_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Maximum timestamp for this mint",
                        "name": "max_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token type of the minted asset",
                        "name": "token_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ERC721 Token ID of the minted asset",
                        "name": "token_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Internal IMX ID of the minted asset",
                        "name": "asset_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token Name of the minted asset",
                        "name": "token_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token address of the minted asset",
                        "name": "token_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Min quantity for the minted asset",
                        "name": "min_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max quantity for the minted asset",
                        "name": "max_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "JSON-encoded metadata filters for the minted asset",
                        "name": "metadata",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListMintsResponse"
                        }
                    }
                }
            },
            "post": {
                "operationId": "mintTokens",
                "description": "Mint tokens in a batch",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mints"
                ],
                "summary": "Mint tokens",
                "parameters": [
                    {
                        "description": "details of tokens to mint",
                        "name": "MintTokensRequestV1",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MintTokensRequestV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MintTokensResponseV1"
                        },
                        "headers": {
                            "Mint_Limit": {
                                "type": "string",
                                "description": "The mint limit available to the project for each four-week window."
                            },
                            "Mint_Limit_Reset": {
                                "type": "string",
                                "description": "The expiry date of the current four-week window."
                            },
                            "Mint_Remaining": {
                                "type": "string",
                                "description": "The amount of mints remaining for current four-week window."
                            }
                        }
                    }
                }
            }
        },
        "/v1/mints/{id}": {
            "get": {
                "operationId": "getMintDetails",
                "description": "Get details of a mint with the given ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mints"
                ],
                "summary": "Get details of a mint with the given ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Mint ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Mint"
                        }
                    }
                }
            }
        },
        "/v1/orders": {
            "get": {
                "operationId": "getOrders",
                "description": "Get a list of orders",
                "tags": [
                    "orders"
                ],
                "summary": "Get a list of orders",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "created_at",
                            "expired_at",
                            "sell_quantity",
                            "buy_quantity",
                            "updated_at"
                        ],
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Ethereum address of the user who submitted this order",
                        "name": "user",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "active",
                            "filled",
                            "cancelled",
                            "expired",
                            "inactive"
                        ],
                        "type": "string",
                        "description": "Status of this order",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum created at timestamp for this order",
                        "name": "min_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Maximum created at timestamp for this order",
                        "name": "max_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum updated at timestamp for this order",
                        "name": "updated_min_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Maximum updated at timestamp for this order",
                        "name": "updated_max_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token type of the asset this order buys",
                        "name": "buy_token_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ERC721 Token ID of the asset this order buys",
                        "name": "buy_token_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Internal IMX ID of the asset this order buys",
                        "name": "buy_asset_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma separated string of token addresses of the asset this order buys",
                        "name": "buy_token_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token name of the asset this order buys",
                        "name": "buy_token_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Min quantity for the asset this order buys",
                        "name": "buy_min_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max quantity for the asset this order buys",
                        "name": "buy_max_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "JSON-encoded metadata filters for the asset this order buys",
                        "name": "buy_metadata",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token type of the asset this order sells",
                        "name": "sell_token_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ERC721 Token ID of the asset this order sells",
                        "name": "sell_token_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Internal IMX ID of the asset this order sells",
                        "name": "sell_asset_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma separated string of token addresses of the asset this order sells",
                        "name": "sell_token_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token name of the asset this order sells",
                        "name": "sell_token_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Min quantity for the asset this order sells",
                        "name": "sell_min_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max quantity for the asset this order sells",
                        "name": "sell_max_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "JSON-encoded metadata filters for the asset this order sells",
                        "name": "sell_metadata",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma separated string of fee percentages that are to be paired with auxiliary_fee_recipients",
                        "name": "auxiliary_fee_percentages",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma separated string of fee recipients that are to be paired with auxiliary_fee_percentages",
                        "name": "auxiliary_fee_recipients",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListOrdersResponse"
                        }
                    }
                }
            },
            "post": {
                "operationId": "createOrder",
                "description": "Create an order",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "orders"
                ],
                "summary": "Create an order",
                "parameters": [
                    {
                        "description": "create an order",
                        "name": "CreateOrderRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateOrderRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CreateOrderResponse"
                        }
                    }
                }
            }
        },
        "/v1/orders/{id}": {
            "get": {
                "operationId": "getOrder",
                "description": "Get details of an order with the given ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "orders"
                ],
                "summary": "Get details of an order with the given ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Order ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Set flag to include fee body for the order",
                        "name": "include_fees",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma separated string of fee percentages that are to be paired with auxiliary_fee_recipients",
                        "name": "auxiliary_fee_percentages",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma separated string of fee recipients that are to be paired with auxiliary_fee_percentages",
                        "name": "auxiliary_fee_recipients",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "cancelOrder",
                "description": "Cancel an order",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "orders"
                ],
                "summary": "cancel an order",
                "parameters": [
                    {
                        "description": "cancel an order",
                        "name": "CancelOrderRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CancelOrderRequest"
                        }
                    },
                    {
                        "type": "string",
                        "description": "Order ID to cancel",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CancelOrderResponse"
                        }
                    }
                }
            }
        },
        "/v1/projects": {
            "get": {
                "operationId": "getProjects",
                "description": "Get projects",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "projects"
                ],
                "summary": "Get projects",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetProjectsResponse"
                        }
                    }
                }
            },
            "post": {
                "operationId": "createProject",
                "description": "Create a project",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "projects"
                ],
                "summary": "Create a project",
                "parameters": [
                    {
                        "description": "create a project",
                        "name": "CreateProjectRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateProjectRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CreateProjectResponse"
                        }
                    }
                }
            }
        },
        "/v1/projects/{id}": {
            "get": {
                "operationId": "getProject",
                "description": "Get a project",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "projects"
                ],
                "summary": "Get a project",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    }
                }
            }
        },
        "/v1/rewards": {
            "post": {
                "operationId": "createRewards",
                "description": "Distribute campaign rewards",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "claims"
                ],
                "summary": "User claim to redeem campaign rewards",
                "parameters": [
                    {
                        "description": "details of claim",
                        "name": "ClaimRewardRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClaimRewardRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClaimRewardResponse"
                        }
                    }
                }
            }
        },
        "/v1/rewards/{etherKey}": {
            "get": {
                "operationId": "getClaimableRewards",
                "description": "Get list of claims a user can make to redeem campaign rewards",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "claims"
                ],
                "summary": "Get list of reward claims for a user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User's wallet address",
                        "name": "etherKey",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListRewardsResponse"
                        }
                    }
                }
            }
        },
        "/v1/signable-deposit-details": {
            "post": {
                "operationId": "getSignableDeposit",
                "description": "Gets details of a signable deposit",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "deposits"
                ],
                "summary": "Gets details of a signable deposit",
                "parameters": [
                    {
                        "description": "get details of signable deposit",
                        "name": "GetSignableDepositRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GetSignableDepositRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetSignableDepositResponse"
                        }
                    }
                }
            }
        },
        "/v1/signable-order-details": {
            "post": {
                "operationId": "getSignableOrder",
                "description": "Get details a signable order",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "orders"
                ],
                "summary": "Get details a signable order",
                "parameters": [
                    {
                        "description": "get a signable order",
                        "name": "GetSignableOrderRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GetSignableOrderRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetSignableOrderResponse"
                        }
                    }
                }
            }
        },
        "/v1/signable-registration": {
            "post": {
                "operationId": "getSignableRegistration",
                "description": "Get operator signature to allow clients to register the user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Get operator signature to allow clients to register the user",
                "parameters": [
                    {
                        "description": "Register User",
                        "name": "GetSignableRegistrationRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GetSignableRegistrationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetSignableRegistrationResponse"
                        }
                    }
                }
            }
        },
        "/v1/signable-transfer-details": {
            "post": {
                "operationId": "getSignableTransfer",
                "description": "Gets details of a signable transfer",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transfers"
                ],
                "summary": "Gets details of a signable transfer",
                "parameters": [
                    {
                        "description": "get details of signable transfer",
                        "name": "GetSignableTransferRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GetSignableTransferRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetSignableTransferResponse"
                        }
                    }
                }
            }
        },
        "/v1/signable-withdrawal-details": {
            "post": {
                "operationId": "getSignableWithdrawal",
                "description": "Gets details of a signable withdrawal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "withdrawals"
                ],
                "summary": "Gets details of a signable withdrawal",
                "parameters": [
                    {
                        "description": "get details of signable withdrawal",
                        "name": "GetSignableWithdrawalRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GetSignableWithdrawalRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetSignableWithdrawalResponse"
                        }
                    }
                }
            }
        },
        "/v1/snapshot/balances/{tokenAddress}": {
            "post": {
                "operationId": "getBalanceSnapshots",
                "description": "Get a list of snapshot balances",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "snapshot"
                ],
                "summary": "Get a snapshot at a specific block",
                "parameters": [
                    {
                        "description": "req",
                        "name": "GetSnapshotRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/snapshot.GetSnapshotRequest"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "token address to list snapshot balances for",
                        "name": "tokenAddress",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListSnapshotBalancesResponse"
                        }
                    }
                }
            }
        },
        "/v1/tokens": {
            "get": {
                "operationId": "getTokens",
                "description": "Get a list of tokens",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "tokens"
                ],
                "summary": "Get a list of tokens",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Contract address of the token",
                        "name": "address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token symbols for the token, e.g. ?symbols=IMX,ETH",
                        "name": "symbols",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListTokensResponse"
                        }
                    }
                }
            }
        },
        "/v1/tokens/{address}": {
            "get": {
                "operationId": "getToken",
                "description": "Get details of an token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "tokens"
                ],
                "summary": "Get details of an token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Token Contract Address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TokenDetails"
                        }
                    }
                }
            }
        },
        "/v1/trades": {
            "get": {
                "operationId": "getTrades",
                "description": "Get a list of trades",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "trades"
                ],
                "summary": "Get a list of trades",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Party A's sell token type",
                        "name": "party_a_token_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Party A's sell token address",
                        "name": "party_a_token_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Party A's sell token id",
                        "name": "party_a_token_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Party B's sell token type",
                        "name": "party_b_token_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Party B's sell token address",
                        "name": "party_b_token_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Party B's sell token id",
                        "name": "party_b_token_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum timestamp for this trade",
                        "name": "min_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Maximum timestamp for this trade",
                        "name": "max_timestamp",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListTradesResponse"
                        }
                    }
                }
            },
            "post": {
                "operationId": "createTrade",
                "description": "Create a Trade",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "trades"
                ],
                "summary": "Create a Trade between two parties",
                "parameters": [
                    {
                        "description": "create a trade",
                        "name": "CreateTradeRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateTradeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CreateTradeResponse"
                        }
                    }
                }
            }
        },
        "/v1/trades/{id}": {
            "get": {
                "operationId": "getTrade",
                "description": "Get details of a trade with the given ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "trades"
                ],
                "summary": "Get details of a trade with the given ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Trade ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Trade"
                        }
                    }
                }
            }
        },
        "/v1/transfers": {
            "get": {
                "operationId": "getTransfers",
                "description": "Get a list of transfers",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transfers"
                ],
                "summary": "Get a list of transfers",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Ethereum address of the user who submitted this transfer",
                        "name": "user",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Status of this transfer",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum timestamp for this transfer",
                        "name": "min_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Maximum timestamp for this transfer",
                        "name": "max_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token type of the transferred asset",
                        "name": "token_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ERC721 Token ID of the minted asset",
                        "name": "token_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Internal IMX ID of the minted asset",
                        "name": "asset_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token address of the transferred asset",
                        "name": "token_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token name of the transferred asset",
                        "name": "token_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max quantity for the transferred asset",
                        "name": "min_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max quantity for the transferred asset",
                        "name": "max_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "JSON-encoded metadata filters for the transferred asset",
                        "name": "metadata",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListTransfersResponse"
                        }
                    }
                }
            },
            "post": {
                "operationId": "createTransfer",
                "description": "Create a new transfer request",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transfers"
                ],
                "summary": "Creates a transfer of tokens between two parties",
                "parameters": [
                    {
                        "description": "Create transfer",
                        "name": "CreateTransferRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateTransferRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CreateTransferResponse"
                        }
                    }
                }
            }
        },
        "/v1/transfers/{id}": {
            "get": {
                "operationId": "getTransfer",
                "description": "Get details of a transfer with the given ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transfers"
                ],
                "summary": "Get details of a transfer with the given ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Transfer ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Transfer"
                        }
                    }
                }
            }
        },
        "/v1/users": {
            "post": {
                "operationId": "registerUser",
                "description": "Registers a user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Registers a user",
                "parameters": [
                    {
                        "description": "Register User",
                        "name": "RegisterUserRequestVerifyEth",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RegisterUserRequestVerifyEth"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RegisterUserResponse"
                        }
                    }
                }
            }
        },
        "/v1/users/{user}": {
            "get": {
                "operationId": "getUser",
                "description": "Get stark keys for a registered user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Get stark keys for a registered user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User",
                        "name": "user",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetUsersApiResponse"
                        }
                    }
                }
            }
        },
        "/v1/withdrawals": {
            "get": {
                "operationId": "getWithdrawals",
                "description": "Get a list of withdrawals",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "withdrawals"
                ],
                "summary": "Get a list of withdrawals",
                "parameters": [
                    {
                        "type": "boolean",
                        "description": "Withdrawal has been transferred to user's Layer 1 wallet",
                        "name": "withdrawn_to_wallet",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Status of the on-chain batch confirmation for this withdrawal",
                        "name": "rollup_status",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size of the result",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Property to sort by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Direction to sort (asc/desc)",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Ethereum address of the user who submitted this withdrawal",
                        "name": "user",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Status of this withdrawal",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum timestamp for this deposit",
                        "name": "min_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Maximum timestamp for this deposit",
                        "name": "max_timestamp",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token type of the withdrawn asset",
                        "name": "token_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ERC721 Token ID of the minted asset",
                        "name": "token_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Internal IMX ID of the minted asset",
                        "name": "asset_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token address of the withdrawn asset",
                        "name": "token_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token name of the withdrawn asset",
                        "name": "token_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Min quantity for the withdrawn asset",
                        "name": "min_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max quantity for the withdrawn asset",
                        "name": "max_quantity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "JSON-encoded metadata filters for the withdrawn asset",
                        "name": "metadata",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListWithdrawalsResponse"
                        }
                    }
                }
            },
            "post": {
                "operationId": "createWithdrawal",
                "description": "Creates a withdrawal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "withdrawals"
                ],
                "summary": "Creates a withdrawal of a token",
                "parameters": [
                    {
                        "description": "create a withdrawal",
                        "name": "CreateWithdrawalRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateWithdrawalRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CreateWithdrawalResponse"
                        }
                    }
                }
            }
        },
        "/v1/withdrawals/{id}": {
            "get": {
                "operationId": "getWithdrawal",
                "description": "Gets details of withdrawal with the given ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "withdrawals"
                ],
                "summary": "Gets details of withdrawal with the given ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Withdrawal ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Withdrawal"
                        }
                    }
                }
            }
        },
        "/v2/balances/{owner}": {
            "get": {
                "operationId": "getBalances",
                "description": "Get a list of balances for given user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "balances"
                ],
                "summary": "Get a list of balances for given user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ethereum wallet address for user",
                        "name": "owner",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListBalancesResponse"
                        }
                    }
                }
            }
        },
        "/v2/balances/{owner}/{address}": {
            "get": {
                "operationId": "getTokenBalances",
                "description": "Fetches the token balances of the user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "balances"
                ],
                "summary": "Fetches the token balances of the user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address of the owner/user",
                        "name": "owner",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "token address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetBalanceResponse"
                        }
                    }
                }
            }
        },
        "/v2/mints": {
            "post": {
                "operationId": "batchMint",
                "description": "Mint tokens in a batch with fees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mints"
                ],
                "summary": "Mint Tokens V2",
                "parameters": [
                    {
                        "description": "details of tokens to mint",
                        "name": "MintTokensRequestV2",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MintRequestV2"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MintTokensResponseV2"
                        },
                        "headers": {
                            "Mint_Limit": {
                                "type": "string",
                                "description": "The mint limit available to the project for each four-week window."
                            },
                            "Mint_Limit_Reset": {
                                "type": "string",
                                "description": "The expiry date of the current four-week window."
                            },
                            "Mint_Remaining": {
                                "type": "string",
                                "description": "The amount of mints remaining for current four-week window."
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AddMetadataSchemaToCollectionRequest": {
            "type": "object",
            "required": [
                "metadata"
            ],
            "properties": {
                "contract_address": {
                    "description": "Not required from API user",
                    "type": "string"
                },
                "metadata": {
                    "description": "The metadata container",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                        "$ref": "#/definitions/MetadataSchemaRequest"
                    }
                }
            }
        },
        "Application": {
            "type": "object",
            "properties": {
                "created_at": {
                    "description": "Time this application was created",
                    "type": "string"
                },
                "id": {
                    "description": "ID of the application",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the application",
                    "type": "string"
                }
            }
        },
        "Asset": {
            "type": "object",
            "properties": {
                "collection": {
                    "description": "Information about the collection to which this asset belongs",
                    "$ref": "#/definitions/CollectionDetails"
                },
                "created_at": {
                    "description": "Timestamp of when the asset was created",
                    "type": "string"
                },
                "description": {
                    "description": "Description of this NFT",
                    "type": "string"
                },
[...]
